<%- include('../partials/header.ejs') %>

<h2>EDIT ISSUE</h2>

<form action="/issues/<%= issue.id %>?_method=PUT" method="POST" id="updateIssue" class="edit-user-form" autocomplete="off">

    <label>User Submitting</label>
    <br>
    <input type="text" name="userSubmitting" value="<%= issue.userSubmitting %>">
    <br>
    <label>Trail Name</label>
    <br>
    <input type="text" name="trailName" value="<%= issue.trailName %>">
    <br>
    <label>Category</label>
    <br>
    <select name="category" value="<%= issue.category %>">
        <option value="Fallen Tree">Fallen Tree</option>
        <option value="Snow">Snow</option>
        <option value="Ice">Ice</option>
        <option value="Mudslide">Mudslide</option>
        <option value="High Water">High Water</option>    
        <option value="Other-Please Describe">Other-Please Describe</option>
    </select>
    <br>
    <label>Description</label>
    <br>
    <input type="text" name="issueDescription" value="<%= issue.issueDescription %>">
    <br>
    <label>Photo Link</label>
    <br>
    <input type="text" name="photoUrl" value="<%= issue.photoUrl %>">
    <br>
    <label>Latitude</label>
    <br>
    <input type="text" name="latitude" value="<%= issue.latitude %>">
    <br>
    <label>Longitude</label>
    <br>
    <input type="text" name="longitude" value="<%= issue.longitude %>">
    <br>
    <label>Current Status</label>
    <br>
    <select name="currentStatus" value="<%= issue.currentStatus %>">
        <option value="Active">Active</option>
        <option value="Closed">Closed</option>
    </select>
    <br>
    <button type="submit" form="updateIssue">Save Issue</button>
  </form>

<%- include('../partials/footer.ejs') %>
