<%- include('../partials/header.ejs') %>

<h1>TRAIL ISSUES</h1>
<table class="table" id="issue-index">
    <thead>
        <th scope="col">Trail</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
    </thead>
    <tbody>
        <% issues.forEach(function(issue) { %>
            <tr>
                <td><%= issue.trailName %></td>
                <td><%= issue.category %></td>
                <td><%= issue.currentStatus %></td>
                <td><a href="/issues/<%= issue._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<div id="add-issue">
    <a href="/issues/new" class="btn">Report New Issue</a>
</div>

<!-- <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=   &q=Space+Needle,Seattle+WA">
</iframe> -->

<%- include('../partials/footer.ejs') %>