<%- include('../partials/header.ejs') %>





<section id="show-page">

    <h2>Issue Detail</h2>

    <div class="row">

            <div class="column issue-photo">

                <div><img src="<%= issue.photoUrl %>" width="400" height="267" overflow="hidden"></div>
            </div>
            <div class="column">
                <div class="show-page-title">Trail Name: </div>
                <div><%= issue.trailName %></div>
                <div class="show-page-title">Category: </div>
                <div><%= issue.category %></div>
                <div class="show-page-title">Description: </div>
                <div><%= issue.issueDescription %></div>
                <div class="show-page-title">Latitude: </div>
                <div><%= issue.latitude %></div>
                <div class="show-page-title">Longitude: </div>
                <div><%= issue.longitude %></div>
                <div class="show-page-title">Current Status: </div>
                <div><%= issue.currentStatus %></div>
            </div>
        </div>


    <h2>Comments</h2>
    <table class="table" id="issue-index">
        <thead>
            <th scope="col">Comment Submitter</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <!-- <th scope="col">Edit</th>
            <th scope="col">Delete</th> -->
        </thead>
        <tbody>
            <% issue.comments.forEach(function(comment) { %>
                <tr>
                    <td><%= comment.userSubmitting %></td>
                    <td><%= comment.commentDescription %></td>
                    <td><img src="<%= comment.photoUrl %>" width="200" height="133" overflow="hidden"></td>
                    <!-- <td><a href="/issues/<%= issue._id %>">Details</a></td>
                    <td>
                        <form action="/issues/<%= issue._id %>?_method=DELETE" method="POST" id="deleteIssue">
                            <button type="submit" form="deleteIssue"></button>
                        </form>
                    </td> -->
                </tr>
            <% }); %>
        </tbody>
    </table>
















    <br><br>
    <h2>Add New Comment</h2>
    <form id="add-comment-form" method="POST" action="/issues/<%= issue._id %>/comments">
        <div>
            <label>User Submitting: </label>
            <input type="text" name="userSubmitting">

            <label>Comment: </label>
            <input type="text" name="commentDescription">

            <label>Photo URL: </label>
            <input type="text" name="photoUrl">
        </div>

        <input id="add-comment-button" type="submit" value="Add Comment">

    </form>
  
</section>


<%- include('../partials/footer.ejs') %>